* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    width: 88%;
    margin: 0 auto;
    min-height: 100vh; 
}
main {
    flex: 1; 
}
header:hover {
    transform: scale(1.01);
    transition: all 0.1s;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

    header h1 {
        margin-bottom: 4px;
    }

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
}

    nav a:hover {
        text-decoration: underline;
    }


.section {
    padding: 40px 0;
}
 .section:nth-child(even) {
        background: #f4f4f4;
  }


 footer img {
    max-width: 100%;
    height: auto;
}


footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-top: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    letter-spacing: 1px;
}

.footer-container {
    width: 90%;
    margin: 0 auto;
}


.footer-top {
    display: flex;
    justify-content: space-between;
    gap: 6px;
    margin-bottom: 20px;
    padding: 0 20px;
}

 .footer-top a {
        text-decoration: none;
        color: #fff;
 }

.footer-top a:hover {
            text-decoration: underline;
 }


.footer-middle img {
    width: 35px;
    margin: 0 12px;
}


.item__logo1 {
    width: 30px;
}

.item__logo2 {
    width: 25px;
}

.item__logo3 {
    width: 32px;
}

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer-bottom {
    color: #fff;
    text-decoration: none;
}
 .firstsection {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
    border-radius: 6px;
}

 .firstsection__item {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cards {
    width: calc(50% - 10px);
    box-sizing: border-box;
}

.card:hover {
    transform: scale(1.7) rotate(-1deg);
    border-color: green;
    transition: all 0.3s;
}

.card {
    display: flex;
    border: 3px solid #fff;
    border-radius: 20px;
    overflow: hidden;
    background: #fff;
    min-height: 250px;
}

.card-image {
    width: 50%;
    height: 100%;
    overflow: hidden;
    height: auto;
}

    .card-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.card-content {
    padding: 25px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
}

.meta {
    color: #666;
    font-size: 14px;
    display: flex;
    gap: 8px;
}

h2 {
    margin: 10px 0;
    font-size: 26px;
}

.subtitle {
    color: #555;
    font-size: 15px;
    line-height: 1.4;
}

.divider {
    width: 100%;
    height: 1px;
    background: #eee;
    margin: 12px 0;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #666;
}

.likes {
    color: #e74c3c;
    font-weight: bold;
}
.services__item {
   
    border: 1px solid;
    border-radius: 10px;
    padding: 30px;
    width: calc(100% / 3 - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .services__item img {
        width: 100px;
    }

.services__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.services__item:hover {
    <!-- transform: scale(1.07); -->
    transition: all 0.8s;
    box-shadow: 0px 4px 12px 7px gray;
}
.moredetails {
    gap: 10px;
    text-shadow: 0 0 5px #330000;
    display: flex;
    justify-content: center;
    color: blanchedalmond;}